<footer class="navbar bg-body-tertiary" data-bs-theme="dark" >
  <div class="container-fluid col-5 ">
    <a class="navbar-brand" href="https://github.com/shadheky" target="_blank"> <i class="bi bi-github"></i> </a>

    <a class="navbar-brand" href="https://www.instagram.com/abdorall/" target="_blank"> <i class="bi bi-instagram"></i> </a>

    <a class="navbar-brand" href="https://www.linkedin.com/in/luiz-abdoral-5747b3218/" target="_blank"> <i class="bi bi-linkedin"></i> </a>
  </div>
</footer>