

* {
    font-family: "Montserrat", sans-serif;
}

.primary-bg-color {
    background-color: #202124;
}

#min-heigth {
    min-height: 89vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #202124;
}

a {
    text-decoration: none;
    cursor: pointer;
}


.validation-error {
    color: tomato;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
